In [1]:
import pandas as pd
import os
import re

In [24]:
data = pd.read_excel(r"C:\Users\57417\Desktop\dataset1.xlsx", names=["车型", "车速"], header=None)

In [25]:
data

    车型 车速
0    小  中
1    小  低
2    中  低
3    小  低
4    小  低
..  .. ..
127  小  中
128  小  高
129  小  中
130  小  中
131  中  低

[132 rows x 2 columns]

In [26]:
size_dict = {
    "小":"small_size",
    "中":"middle_size",
    "大":"large_size",
    "公":"bus"
}
velocity_dict = {
    "低":"low_speed",
    "中":"middle_speed",
    "高":"high_speed"
}

In [27]:
data_length = data.index.values[-1] + 1
data.insert(0, "样本编号", '')
start_index = 103
for i in range(data_length):
    size = data.iat[i, 1].strip()
    speed = data.iat[i, 2].strip()
    data.iat[i, 0] = "sample" + str(i + start_index)
    data.iat[i, 1] = size_dict[size]
    data.iat[i, 2] = velocity_dict[speed]

In [28]:
data

          样本编号           车型            车速
0    sample103   small_size  middle_speed
1    sample104   small_size     low_speed
2    sample105  middle_size     low_speed
3    sample106   small_size     low_speed
4    sample107   small_size     low_speed
..         ...          ...           ...
127  sample230   small_size  middle_speed
128  sample231   small_size    high_speed
129  sample232   small_size  middle_speed
130  sample233   small_size  middle_speed
131  sample234  middle_size     low_speed

[132 rows x 3 columns]

In [29]:
data.to_excel(r"dataset_new.xlsx", index=None)

In [22]:
data_dir = r"C:\Users\57417\Desktop\data2\data2"

In [30]:
voice_list = os.listdir(data_dir)
sorted(voice_list)
start = 103
for voice in voice_list:
    src_path = os.path.join(data_dir, voice)
    dst_path = os.path.join(data_dir, "sample" + str(start)+".m4a")
    os.rename(src_path, dst_path)
    start += 1

In [59]:
data.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101], dtype=int64)